# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "70d4d4ddbe074eb26d2ca316a9bcd6c6"
name = "surfaced"
application_url = "https://shopify.dev/apps/default-app-home"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_content,write_content"

[auth]
redirect_urls = [ "https://shopify.dev/apps/default-app-home/api/auth" ]
